/.idea/
/.mixin.out/audit/
/local/
/patchouli_data.json
/imm_ptl_state.json
/hs_err_pid5808.log
/minecraftinstance.json
/realms_persistence.json
/usernamecache.json
/.curseclient
/usercache.json
/dumps/
/global_resource_packs/
/global_data_packs_/
/crash-reports/
/saves/
/screenshots/
/logs/
/backups/
/resourcepacks/Quark Programmer Art.zip
